[Unit]
Description=PiCar Wi-Fi AP Fallback Service
After=NetworkManager.service
Wants=NetworkManager.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/ap_fallback.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
